:root {
    /* Colors */
    --nav-link-color: #ffffff;
    --nav-logo--text-color: #ffffff;
    --navbar-background: #6B646499;
    /* Fonts */
    --logo-font: Lucida Calligraphy;
    --nav-link-font: Inter;
  }
  