




/* const TourSlider = ({ tours }) => {
    const settings = {
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        centerPadding: '0px',

    };

    return (
        <Slider {...settings}
        nextArrow={<SampleNextArrow />}
        prevArrow={<SamplePrevArrow />}
        >

        </Slider>
    );
}; */

/* export default TourSlider;

// <div key={index} className='tour-card'>
//     <div className='tour-card-image-container'>
//         <img src={`/cover_images/${item.tour_image}`} alt="" />
//     </div>
//     <div className='tour-card-info-container'>
//         <h2>{item.tour_title}</h2>
//         <h3>{`${ dayjs(item.tour_start_date).format("DD.MM.YYYY") } - ${dayjs(item.tour_end_date).format("DD.MM.YYYY")}`}</h3>
//         <div className='tour-card-info'>
//             <p>{item.tour_description}</p>
//             <p>Страна: {item.country.country_name}</p>
//         </div>
//         <div className='price_block'>
//             {item.price_with_discount ? <span>{item.tour_price}$</span> : null}
//             <h1>{item.price_with_discount ? item.price_with_discount : item.tour_price}$</h1>
//         </div>
//     </div>
// </div> */